{
    "presets": ["@babel/react", "@babel/typescript", ["@babel/env"]],
    "plugins": [["@babel/plugin-transform-react-jsx", {
        "pragma": "Box.createElement",
        "throwIfNamespace": false
    }], "babel-plugin-transform-class-properties"]
}
